@import "tailwindcss";

:root {
  --background: #f0f4f0; /* Lighter green-tinted white */
  --foreground: #2f3e2f; /* Dark, earthy green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f3e2f; /* Dark, earthy green */
    --foreground: #e0e8e0; /* Light green-tinted white */
  }
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f4f0; /* Lighter green-tinted white */
  color: #2f3e2f; /* Dark, earthy green */
}